# deploy.env
PROJECT_DIR="/var/www/myapp"
DOMAIN="test.com"
LOG_FILE="/var/log/ssl-renew.log"
GIT_REPO="git@github.com:test/test.git"
EMAIL="test@gmail.com"
WEBROOT_PATH="$PROJECT_DIR/certbot/www"
SSL_PATH="$PROJECT_DIR/nginx/ssl"
